# Neon PostgreSQL
DATABASE_URL=postgresql://user:password@ep-xxx.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# OpenRouter AI
OPENROUTER_API_KEY=your_openrouter_api_key

# Telegram (optional)
TELEGRAM_TOKEN=8656874151:AAFfijxRrWg8NJ_WpPNWjIM3zvLh8HAeEt0
TELEGRAM_CHAT_ID=-1003936638140

# Port (Render set this automatically)
PORT=3000
